@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playpen+Sans:wght@100..800&display=swap');

body {
	font-size: 15pt;
	font-family: "Playpen Sans", cursive;
	margin: 0px;
	padding: 0px;
}

.background_page {
	background-color: #FAF3E1;
	min-height: 100vh;
	min-width: 100%;
}

header {
	background-color: #F5E7C6;
	position: fixed;
	top: 0px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer {
	color: white;
	background-color: #222222;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

.create_icon {
	height: 40px;
	width: 40px;
	border-radius: 90px;
	background-color: #FA8112;
	padding: 13px;
	position: fixed;
	bottom: 30px;
	right: 20px;
	box-shadow: 0px 2px 4px 1px #4A4A4A;
}

.msg_container {
	background-color: #F5E7C6;
	margin: 5px;
	border-radius: 10px;
	min-width: 98%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0px 2px 4px 1px #4A4A4A;
}

.msg_field {
	outline: none;
	font-family: Playpen Sans;
	padding: 7px;
	padding-left: 13px;
	background-color: #FAF3E1;
	font-size: 20px;
	border-radius: 90px;
	border: 1px solid #FFBA53;
	width: 100%;
	margin: 8px;
}

.findbtn {
	font-size: 23px;
	font-weight: bold;
	background-color: #FFBA53;
	border: none;
	border-radius: 90px;
	padding: 6px 15px;
	margin: 0px 8px;
	margin-left: 0px;
}

.note_page {
	animation: appear 0.6s;
	background-color: #FAF3E1;
	height: 100vh;
	width: 100%;
	padding: 20px 0px;
	display: none;
	flex-direction: column;
	justify-content: center;
}

.note_title {
	font-size: 28px;
	background-color: #FAF3E1;
	margin-bottom: 10px;
	outline: none;
	height: 40px;
	border: none;
	padding: 18px;
}

.note_text {
	font-size: 16px;
	line-height: 18px ;
	height: 90%;
	background-color: #FAF3E1;
	outline: none;
	border: none;
	padding: 18px;
}
.check_icon{
	height: 40px;
	width: 40px;
	border-radius: 90px;
	background-color: #FA8112;
	padding: 13px;
	position: fixed;
	bottom: 40px;
	right: 20px;
	box-shadow: 0px 2px 4px 1px #4A4A4A;
}
.edit_bar{
	background-color: #F5E7C6;
	width: 100%;
	height: auto;
	position: fixed;
	bottom: 0px;
	padding: 4px;
	display: flex;
	justify-content: space-evenly;
}
.undo_icon{
	height: 25px;
	width: 25px;
}
.redo_icon{
	height: 25px;
	width: 25px;
}
.popup{
	animation: alert 1s;
	background-color: #00FF1BE8;
	position: fixed;
	top: 0px;
	width: 90%;
	text-align: center;
	border-radius: 4px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-family: "Playpen Sans", "cursive";
}

.list{
	min-height: 100%;
	background-color: #FAF3E1;
	display: flex;
	flex-direction: column;
	padding: 5px;
	padding-top: 100px;
}
.note_item{
	background-color: #F5E7C6;
	margin: 5px 0px;
	padding: 10px;
	display: flex;
	border: 1px solid #FFBA53;
	border-radius: 10px;
	flex-direction: column;
}
.nitemtitle{
	font-size: 23px;
	overflow: hidden;
	white-space: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-word;
}
.nitemtext{
	font-size: 16px;
	overflow: hidden;
	white-space: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-word;
}
.note_edit {
	height: 38px;
	width: 38px;
	border: 1px solid #FFBA53;
	padding: 0px;
	border-radius: 30px;
}
.note_delete{
	height: 24px;
	width: 24px;
	border: 1px solid #FFBA53;
	padding: 7px;
	margin: 0px 5px;
	border-radius: 30px;
}
.note_tools{
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}



@keyframes appear{
	0%{
		transform: scale(80%) translateY(120px);
		opacity: 0.7;
	}
	
	100%{
		transform: scale(100%) translateY(0px);
		opacity: 1;
	}
}
@keyframes alert {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
